.random-photo {
  &__button {
    margin-bottom: 1rem;
  }

  &__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ebebeb;

    & > img {
      max-width: 100%;
      height: 100%;

      border-radius: 50%;
      vertical-align: middle;
    }
  }
}